<div class="row">
  <p class="h4 col-xs-10"><%= list.escape('title') %></p>
  <button type="button" class="btn btn-danger btn-sm delete">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
  </button>
</div>
<div class="row">
  <ul class="list-group cards list-unstyled col-xs-12">
    
  </ul>
</div>