<div class="list">
  <div class="list-header">
    <h4 class="list-heading"><%= list.escape('title') %></h4>
    <button type="button" class="btn btn-danger btn-sm list-header-btn pull-right delete">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
    </button>
  </div>
  <div class="list-group cards list-unstyled">
    
  </div>
</div>