<div class="container">
  <div class="row">
    <h1>Boards</h1>
    <a href="#boards/new" class="btn btn-primary" role="button">Add a board</a>
  </div>
  <div class="row">
    <div class="boards list-group list-unstyled">
      
    </div>
  </div>
</div>