<div class="board-header">
  <h1><%= board.escape('title') %></h1>
  <a href="#boards" class="btn btn-default" role="button">Back to boards</a>
</div>
<div class="lists-wrapper">
  <ul class="lists list-inline">
    
  </ul>
</div>