<textarea class="form-control add-card-title" name="title"></textarea>
<button type="submit" class="btn btn-info btn-sm" >Add card</button>
<button type="button" class="remove-add btn btn-default btn-sm list-header-btn">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
</button>