@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$border-radius: 4px;
$card-padding: 15px;

.cards {
  padding: 0 $card-padding;
  margin-bottom: 6px;
  min-height: 42px;
  max-height: 350px;
  overflow-x: scroll;
}

.add-card-form {
  padding-left: $card-padding;
  padding-right: $card-padding;
}

.add-card-title {
  resize: none;
  margin-bottom: 6px;
}

.card-title {
  width: 80%;
  display: inline-block;
}

.card-title a {
  word-wrap: break-word;
}

.card {
  margin-bottom: 6px;
  border-radius: $border-radius;
}

.card-placeholder {
  height: 42px;
  margin-bottom: 6px;
  width: 100%;
  border-radius: $border-radius;
  background-color: #8c8c8c;
}